# Laravel & Composer files
/vendor/
/node_modules/
/public/storage
/storage/*.key

# Laravel specific
.env
.env.testing
.phpunit.result.cache
Homestead.yaml
Homestead.json

# IDE & Editor directories and files
/.vscode/
/.idea/
/*.sublime-workspace
/*.sublime-project

# System files
.DS_Store
Thumbs.db

# Composer
composer.lock
composer.phar

# NPM
npm-debug.log
yarn-error.log

# PHPUnit
phpunit.xml
phpunit.xml.dist
